.icone{
    max-height: 300px;
    border-radius: 100px !important;
    overflow: hidden;
  
 }
 .icone a{
    text-decoration: none;
    
 }
 a:link{
    color: black;
 }
 a:link:hover{
    color: black;
 }
 .icone {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 15px;
    margin-right: 5px;
    padding: 5px;
}
